name: Build EXE



on: [push] # 코드가 올라오면 자동으로 빌드 시작



jobs:

  build:

    runs-on: windows-latest # 윈도우 서버에서 작업



    steps:

    - uses: actions/checkout@v3



    - name: Set up Python

      uses: actions/setup-python@v4

      with:

        python-version: '3.10'



    - name: Install dependencies

      run: |

        pip install pyinstaller pandas openpyxl tkinterdnd2



    - name: Build EXE

      run: |

        pyinstaller --onefile --noconsole --collect-all tkinterdnd2 main.py



    - name: Upload EXE

      uses: actions/upload-artifact@v3

      with:

        name: Excel-Updater-EXE

        path: dist/main.exe
